.search-error {
    color: white;
    background-color: #d9534f;
    border-color: #b52b27;
}

.right {
    float: right;
}

label {
    font-size: 13px;
}

.row-link > td > label, label.label-danger, label.label-primary, label.label-success {
    cursor: pointer;
}

.dropdown-menu > li > a.delete-link {
    background-color: #d9534f;
    color: white;
    border-top: 1px solid #ca302c;
    border-bottom: 1px solid #ca302c;
}

.dropdown-menu > li > a.delete-link:hover, .dropdown-menu > li > a.delete-link:focus {
    background-color: #ca302c !important;
    background-image: none !important;
    border-color: #8b211e;
}