.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
   z-index: 2;
   color: inherit;
   border-left: #d9534f solid 3px !important;
   background-image: none;
   background-color: white;
   text-shadow: none;
   border: 1px solid #ddd;
}

.list-group-item:first-child {
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
}

.list-group-item:last-child {
   margin-bottom: 0;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}

html {
   position: relative;
   min-height: 100%;
}

body {
   margin: 0 0 100px; /* bottom = footer height */
   background-color: white;
   font-size: 13px;
}

.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100%;
}

.search-error {
   color: white;
   background-color: #d9534f;
   border-color: #b52b27;
}

.error {
   color: white;
   background-color: #d9534f;
   border-color: #b52b27;
}

.right {
   float: right;
}

label {
   font-size: 13px;
}

.row-link > td > label, label.label-danger, label.label-primary, label.label-success {
   cursor: pointer;
}

.dropdown-menu > li > a.delete-link {
   background-color: #d9534f;
   color: white;
   border-top: 1px solid #ca302c;
   border-bottom: 1px solid #ca302c;
}

.dropdown-menu > li > a.delete-link:hover, .dropdown-menu > li > a.delete-link:focus {
   background-color: #ca302c !important;
   background-image: none !important;
   border-color: #8b211e;
}

li.menu-divider {
   height: 38px;
   margin: 9px 7px;
   overflow: hidden;
   background-color: #e5e5e5;
   border-right: #e5e5e5 solid 1px;
}


.dropdown-menu:after, .dropdown-menu:before {
   bottom: 100%;
   left: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.dropdown-menu:after {
   border-color: rgba(255, 255, 255, 0);
   border-bottom-color: #ffffff;
   border-width: 6px;
   margin-left: -5px;
}

.dropdown-menu:before {
   border-color: rgba(221, 221, 221, 0);
   border-bottom-color: #ccc;
   border-width: 7px;
   margin-left: -6px;
}

.modal-header-danger {
   background-color: #d9534f;
   color: white;
}

.alert {
   padding: 10px;
}
